.slider{
  width: 100%;
  height: 50%;
}
.slider ul{
  margin: 0;
  padding: 0;
  list-style: none;

}
.slider li img{
  width: 100%;
  border: none;
}

body{
    background-image: url("../images/bg1.jpg");
}
#image-slider .caption{
    color: #c6ff00;
}
#image-slider .text{
  color: #bf360c;
}


